:root {
  --tue-red: hsl(358, 72%, 45%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  text-shadow: 0 0 4px hsla(0, 0%, 0%, 0.8);
  background-color: var(--tue-red);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (orientation: landscape) {
  body {
    background-image: url(/public/images/protest-graffiti-landscape.png);
  }
}
@media screen and (orientation: portrait) {
  body {
    background-image: url(/public/images/protest-graffiti-portrait.png);
  }
}

.main-container {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.1);
  width: 90%;
  max-width: 500px;
  height: 900px;
  margin-top: 60px;
  text-align: center;
  position: relative;
}

.content-container {
  display: flex;
  width: 100%;
  margin-top: 200px;
  justify-content: center;
  padding: 10px;
}

.profile {
  position: absolute;
  inset: 0;
  top: -30px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 24px;
  width: 100%;
}

p {
  color: #9f9d9d;
  margin-top: -5px;
  margin-inline: auto;
  width: 80%;
}

.links {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 14px;
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

.link {
  background-color: hsla(0, 0%, 0%, 0.7);
  color: hsla(0, 0%, 100%);
  padding: 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  border: 2px dashed transparent;
  outline: none;
}

.link:focus {
  background-color: hsla(0, 0%, 0%, 0.4);
  color: hsla(0, 0%, 100%, 1);
  border: 2px dashed black;
}

.link:visited {
  background-color: hsla(358, 35%, 35%, 0.5);
  color: hsla(0, 0%, 100%, 0.4);
  opacity: 0.2;
}

.link:hover {
  background-color: hsla(358, 55%, 35%, 0.5);
  color: hsl(0, 0%, 100%);
  transform: translateY(-2px);
}

.link-icon {
  width: 24px;
  display: block;
  margin-inline: auto;
  margin-bottom: 6px;
  opacity: 1;
}

.link:focus .link-icon {
  opacity: 1;
  filter: grayscale(1) contrast(1.5);
}

.link:hover .link-icon {
  opacity: 1;
  filter: grayscale(1) contrast(3);
}

.featured-link {
  background-image: url(/public/images/FNV-HO-protest.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  background-blend-mode: overlay;
  background-color: hsla(358, 30%, 30%, 0.8);
  border-radius: 20px;
  padding: 10px;
  filter: contrast(1.5);
  height: 200px;
}

.upcoming-event-section {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 8px;
  position: relative;
}

.upcoming-event-header {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.upcoming-event-section .marquee-container {
  position: relative;
  margin-top: -10px;
  width: 100%;
  height: 90px;
  background-color: #00000099;
}

.upcoming-event-section .marquee {
  position: absolute;
  width: 97%;
  height: fit-content;
  top: 7px;
  left: 5px;
  overflow: hidden;
}

.marquee-list {
  display: flex;
  width: max-content;
  padding: 0;
  align-items: center;
  gap: 30px;
  position: relative;
  left: 20px;
  list-style: none;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-70%);
  }
}

.upcoming-event-section img {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.marquee-list .marquee-list-item {
  position: relative;
  font-weight: 700;
  color: yellow;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.marquee-list-item.location {
  font-weight: 300;
}

@media (max-width: 1000px) {
  .upcoming-event .marquee-container {
    width: 100%;
  }

  .upcoming-event .marquee {
    width: 90%;
    left: 5%;
  }
}

.featured-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(358, 20%, 30%, 0.7);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: var(--tue-red);
}
