:root {
  --tue-red: hsl(358, 72%, 45%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--tue-red);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (orientation: landscape) {
  body {
    background-image: url(/public/images/protest-graffiti-landscape.png);
  }
}
@media screen and (orientation: portrait) {
  body {
    background-image: url(/public/images/protest-graffiti-portrait.png);
  }
}

.container {
  background-color: hsla(0, 0%, 0%, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.1);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.profile {
  margin-bottom: 24px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 24px;
  margin: 12px 0;
}

p {
  color: #b3b1b1;
  margin-bottom: 24px;
  margin-inline: auto;
  width: 90%;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.link {
  background-color: #f8f8f8;
  color: #333;
  padding: 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid #e0e0e0;
}

.link:hover {
  background-color: #e9e9e9;
  transform: translateY(-2px);
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: #999;
}
