:root {
  --tue-red: hsl(358, 72%, 45%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--tue-red);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (orientation: landscape) {
  body {
    background-image: url(/public/images/protest-graffiti-landscape.png);
  }
}
@media screen and (orientation: portrait) {
  body {
    background-image: url(/public/images/protest-graffiti-portrait.png);
  }
}

.container {
  background-color: hsla(0, 0%, 0%, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.1);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.profile {
  position: absolute;
  top: -30px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 24px;
}

p {
  color: #9f9d9d;
  margin-top: -5px;
  width: 90%;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 200px;
  padding-top: 12px;
}

.link {
  background-color: hsla(0, 0%, 0%, 0.4);
  color: hsla(0, 0%, 100%, 0.8);
  padding: 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px dashed transparent;
}

.link:visited {
  background-color: hsla(358, 50%, 65%);
  opacity: 0.5;
  border: 1px dashed var(--tue-red);
}

.link:hover {
  background-color: hsla(0, 0%, 0%, 0.9);
  color: white;
  transform: translateY(-2px);
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: var(--tue-red);
}
